body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}
/* Navbar Styles */
/* 네비게이션 바 스타일 */
.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}